html {
  height: 100%;

  @include media-breakpoint-down(xs) {
    height: initial;
  }
}
body {
  text-align: center;
  height: 100%;
}

.fluid-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

#text {
  position: relative;
}
#test2 {
  display: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.logo {
  background-color: rgb(65, 65, 65);
  padding: 3rem;
  justify-content: center;
  display: flex;
}

.picture_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 1rem;


  div {
    flex-grow: 1;
    height: 10rem;
    min-width: 5rem;

    @include media-breakpoint-down(md) {
      height: 10rem;
    min-width: 4rem;
    }
  }

  .bild {
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
  }

  #bild_1 {
    background-image: url(../assets/images/bild_1.png);
  }
  #bild_2 {
      background-image: url(../assets/images/bild_2.png);
  }
  #bild_3 {
      background-image: url(../assets/images/bild_3.png);
  }
  #bild_4 {
      background-image: url(../assets/images/bild_4.png);
  }
  #bild_5 {
      background-image: url(../assets/images/bild_5.png);
  }
  #bild_6 {
      background-image: url(../assets/images/bild_6.png);
  }
  #bild_7 {
      background-image: url(../assets/images/bild_7.png);
  }
  #bild_8 {
      background-image: url(../assets/images/bild_8.png);
  }
}

.content {
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: uppercase;
}

.pink {
  color: white;
  background-color: rgb(216, 18, 125);
  margin-bottom: 0;
  letter-spacing: 2px;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}

.heart {
  // margin-top: auto;
  // width: 100%;
  // height: auto;
  // margin-bottom: 1rem;
}

a {
  color: black;
  text-decoration: underline;
  &:hover {
    color: black
  }
}
